<div class="wrapper">
	<div class="container my-4">
		<div class="form-container row rounded p-2" style="min-height: 50vh">
			<div class="col-md-6 col-12 my-auto">
				<div class="">
					<h4 class="">Lưu ý</h4>
					<div class="fs-5">
						<p>
							Ứng dụng này chỉ hỗ trợ đăng ký học phần một cách liên tục mà không cần
							phải thực hiện đăng nhập lại nhiều lần.
						</p>
						<p>Ứng dụng không làm cho quá trình đăng ký học phần nhanh hơn.</p>
					</div>
					<hr />
				</div>
			</div>

			<div class="col-md-3 col-12">
				<div class="version-container">
					<a style="background-color: #fef3c7; color: green"
						>Đăng ký trên phiên bản Web</a
					>
				</div>
			</div>

			<div class="col-md-3 col-12">
				<div class="version-container">
					<a routerLink="/mobile" style="background-color: #fee2e2; color: #dc2626;"
						>Đăng ký trên App UTC2 Student</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
