.form-container {
	background-color: #86efac;
}

.version-container a {
	border-radius: 5px;
	cursor: pointer;
	min-width: 100%;
	min-height: 150px;
	display: block;
	transition: 100ms;
    box-shadow: 0px 0px 2px 2px #4ade80;
	text-decoration: none;

    // văn bản ở giữa trung tâm
    display: grid;
    place-items: center;

	&:hover {
		background-color: white !important;
		color: black;
	}

}

.version-container {
    min-height: 100%;
	color: white;
	text-align: center;
	font-size: 1.3rem;
	border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
