<div class="wrapper">
  <div class="container">

    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center">
          <h2>Chọn nền tảng</h2>
          <p>Có thể dùng 2 nền tảng bằng cách sử dụng 2 tab trình duyệt</p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 col-12">
        <div class="text-center">
          <a class="btn btn-danger w-100 p-4" href="">Đăng ký ở nền tảng Web</a>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="text-center">
          <a class="btn btn-success w-100 p-4" href="/mobile"
            >Đăng ký ở nền tảng Mobile</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
