<div class="wrapper">
	<div class="container my-1">
		<!-- login -->
		<div class="form-container row bg-success rounded">
			<!-- logo -->
			<div class="col-md-4 col-12">
				<div class="mb-2 w-100 d-flex justify-content-center align-items-center h-100">
					<div class="d-inline-block mx-auto">
						<img width="200" src="/assets/UTC21.png" alt="" />
					</div>
				</div>
			</div>

			<!-- form -->
			<div class="col-md-8 col-12">
				<div class="registration-form">
					<form>
						<h4 class="">Nhập thông tin đăng nhập</h4>

						<div class="form-group">
							<input
								[(ngModel)]="mssv"
								name="mssv"
								type="text"
								class="form-control input"
								placeholder="Mã sinh viên"
							/>
						</div>

						<div class="form-group">
							<input
								[(ngModel)]="password"
								name="password"
								type="text"
								class="form-control input"
								placeholder="Mật khẩu"
							/>
						</div>

						<!-- <div class="form-group">
							<button
								(click)="login()"
								type="button"
								class="btn btn-success create-account"
							>
								Đăng nhập
							</button>
						</div> -->
					</form>
				</div>
			</div>
		</div>

		<!-- dkhp -->
		<div class="form-container row rounded mt-3" style="background-color: #ecfccb">
			<div class="col-12">
				<h4>Đăng ký học phần</h4>

				<!-- danh sách ids đăng ký -->
				<div class="dkhp">
					@for(id of idHocPhans; track id; let index = $index) {
					<div class="row">
						<div class="col-5 id-hocphan">
							<input
								class="form-control input"
								type="text"
								readonly
								value="{{ id }}"
							/>
						</div>

						<div class="col-6 status-message">
							<input
								class="form-control input"
								type="text"
								readonly
								value="{{ showStatus(id) }}"
							/>
						</div>

						<div class="col-1 status-message">
							<span (click)="onRemoveIdHocPhan(id)" class="x-icon"
								><i class="fa-solid fa-circle-xmark"></i
							></span>
						</div>
					</div>
					}
				</div>

				<!-- thêm id -->
				<div class="row">
					<div class="col-6 id-hocphan">
						<input
							class="form-control input"
							type="text"
							placeholder="Nhập id học phần"
							#id
						/>
					</div>

					<div class="col-6 status-message">
						<button (click)="onAddIdHocPhan(id)" class="btn btn-success">
							Thêm Id
						</button>
					</div>
				</div>

				<!-- đăng ký -->
				<div class="row">
					<div class="col-6 status-message">
						<div>
							<button (click)="onDangKy()" class="btn btn-primary" [disabled]="isDangDK ===  true" >
								Tiến hành đăng ký
							</button>
							<button (click)="onHuyDangKy()" class="fw-bold btn btn-outline-danger">
								Ngừng đăng ký
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
