<div class="wrapper">
	<div class="container">
		<!-- nhập thông tin -->
		<div class="row mt-1">
			<div class="col-md-6 col-12">
				<label class="form-label">Mã số sinh viên</label>
				<input [(ngModel)]="mssv" class="form-control input" type="text" placeholder="Mã số sinh viên" />
			</div>

			<div class="col-md-6 col-12">
				<label class="form-label">Mật khẩu</label>
				<input [(ngModel)]="password" class="form-control input" type="text" placeholder="Mật khẩu" />
			</div>

            <div class="col-12">
                <div>
                    <button (click)="login()" class="btn btn-danger input mb-1">Đăng nhập</button><br>
                    <button (click)="getThongTinLopHocPhan()" class="btn btn-success input">Lấy thông tin các lớp học phần</button>
                </div>
            </div>
		</div>

		<!-- search va chọn môn học -->
		<div class="row mt-1">
			<!-- <div class="col-md-6 col-12">
				<label class="form-label">Tìm lớp học phần</label>
				<div id="search" class="d-flex gap-2">
					<input class="form-control input" type="text" placeholder="Nhập tên môn học" />
					<button (click)="check()" class="btn btn-success input">Tìm</button>
				</div>
			</div> -->

			<div class="col-md-6 col-12">
				<div id="mon-hoc">
					<label class="form-label">Chọn môn học</label>
					<select (change)="loadDSHocPhan(monhoc.value)" class="form-select" #monhoc>
						@for(monHoc of dsMonHoc; track monHoc.iD_MONHOC) {
							<option class="fs-5" value="{{ monHoc.iD_MONHOC }}">{{ monHoc.teN_MONHOC }}</option>
							}
					</select>
				</div>
			</div>
		</div>

		<!-- thông tin các lớp học phần -->
		<div class="row mt-1">
            <div class="col-12">
                <h4>Thông tin các lớp học phần</h4>
				<div class="subject over">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Học phần Id</th>
								<th>Tên môn học</th>
								<th>Thông tin lớp học phần</th>
							</tr>
						</thead>

						<tbody>
							@for(item of dsHocPhans; track item.loP_HOCPHAN_CTIET_ID) {
							<tr>
								<td>
									<span class="fw-bolder text-danger">{{ item.loP_HOCPHAN_CTIET_ID }}</span>
								</td>
								<td>
									{{ item.teN_MONHOC }}
								</td>
								<td>
									<div>
										Lớp học phần:
										<strong>{{ item.teN_LOP }}</strong>
										<br />
										Số tín chỉ:
										<strong>{{ item.sO_TC }}</strong>
										<br />
										TKB:
										<strong>{{ item.tkb }}</strong>
										<br />
										Số SV đăng ký:
										<strong>{{ item.soSVDK }}</strong>
									</div>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
        </div>
	</div>
</div>
